mat-form-field {
  width: 100%;
}

.dial-container {
  margin-top: 0px;
  padding: 0px 20px;
  padding-top: 10px !important;
}

.button-cont {
  padding: 0 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}
