.header {
  margin-bottom: 10px;
}

mat-row:hover {
  background-color: #eaf1ff;
  cursor: pointer;
}

.example-container {
  border-radius: 5px;
}

mat-header-row {
  font-size: 16px;
}

.actions-header {
  width: 50px;
}

.actions-cell {
  width: 50px;
}

.adress-field {
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
  width: 400px;
}

.mat-cell {
  cursor: pointer;
}

mat-table {
  max-height: 70vh;
  overflow: scroll;
}

.mat-column-pickupDate {
  flex: 0 0 10%;
}

.mat-column-deliveryDate {
  flex: 0 0 10%;
}

.mat-column-pickupAddress {
  flex: 0 0 30%;
}

.mat-column-deliveryAddress {
  flex: 0 0 30%;
}

.mat-column-status {
  flex: 0 0 10%;
}

.small-button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-button .mat-icon {
  font-size: 18px;
  text-align: center;
  margin-top: 3px;
}

.created-blue {
  background-color: #aedbff;
}

.chips {
  height: 18px;
  border-radius: 20px;
  padding: 2px 5px;
  font-size: 12px;
}

.dispatched-orange {
  background-color: #ffd391;
}

.on-the-way-yellow {
  background-color: #fef49b;
}

.delivered-green {
  background-color: #a4ffa7;
}
