.header {
  margin-bottom: 10px;
}

mat-row:hover {
  background-color: #eaf1ff;
  cursor: pointer;
}

.example-container {
  border-radius: 5px;
}

mat-header-row {
  font-size: 16px;
}

.actions-header {
  width: 50px;
}

.actions-cell {
  width: 50px;
}

.mat-cell,
.mat-header-cell {
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-cell {
  cursor: pointer;
}

mat-table {
  max-height: 70vh;
  overflow: scroll;
}
